
body { 
  background-color:#bbcdda;
  /*background-image: url("img/red.jpg");*/
  color:black;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: large;
}

.container{
  /* max-width: 800px;*/
  margin: auto;
  opacity: 0.9;

  padding: 15px;
  overflow:hidden;


}
.top{
  margin: auto;
  background-color: black;
  opacity: 0.8;
  padding: 1px 15px;
  overflow:hidden;
}




.btn{
max-width: 200px;
height: 2em;
background-color:transparent;
border: 1px solid black; 
font-size: larger;
cursor: pointer;
color: black;
border-radius: 12px;
}

.btn.hover{
  background-color: #e3f2fd;
}

input.upload{
  width:200px;
  height: 2em;
  background-color: red;
  border: 1px solid gray; 
  padding: 5px;
  text-align: center;
  font-size: large;
}


.title{
  font-size:80px;
  margin:auto;
  padding:15px;
}

ul {
  overflow: auto;
}

ul li {
  list-style-type: none;
}

ul li a i {
  background: transparent;
  color: black;
  width: 40px;
  height: 40px;

  font-size: 35px;
 
  transition: all 0.2s ease-in-out;

}


.truncate {
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
a{
  color:#0097a7;
  text-decoration: none;

}
a:link{
  color:rgb(0, 221, 255);
}
a:hover{
  color:rgb(0, 221, 255);
  opacity: .7;
}
iframe{
  min-height:300px;
  max-height:500px;
  max-width:600px;
  border:none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.fb-share-button{
  overflow: hidden;
  background: rgb(16, 161, 228);
}

